.brands {
  position: relative;
  background-color: black;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 1.5fr 1fr 1fr;
  overflow: hidden;
  animation: colorChange 20s infinite ease;
}
@keyframes colorChange {
  0% {
    background-color: black;
  }
  9%,
  10% {
    background-color: darkblue;
  }
  19%,
  20% {
    background-color: #a37411;
  }
  29%,
  30% {
    background-color: #347350;
  }
  39%,
  40% {
    background-color: #a37411;
  }
  49%,
  50% {
    background-color: black;
  }
  59%,
  60% {
    background-color: blue;
  }
  69%,
  70% {
    background-color: #a37411;
  }
  79%,
  80% {
    background-color: #347350;
  }
  89%,
  90% {
    background-color: #a37411;
  }
  100% {
    background-color: black;
  }
}

.brands_heading {
  color: white;
  width: 100%;
  height: 100%;
  padding-top: 2%;
  padding-inline: 10%;
}

.brands_heading h1 {
  font-size: 5.5rem;
  font-weight: 600;
}

.brands_heading p {
  font-size: 3rem;
  color: #cdcdcd;
}

.carousal_1,
.carousal_2 {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2%;
}

.carousal_1 div,
.carousal_2 div {
  width: 10rem;
  height: 8rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7%;
  border-radius: 1rem;
  transition: 0.4s ease;
}
.carousal_1 div:hover,
.carousal_2 div:hover {
  scale: 1.2;
}

.carousal_1 img,
.carousal_2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousal_1 {
  position: relative;
  left: 35%;
  animation: slide1 20s infinite ease;
}
@keyframes slide1 {
  0% {
    transform: translateX(-100%);
  }
  9%,
  10% {
    transform: translateX(-90%);
  }
  19%,
  20% {
    transform: translateX(-80%);
  }
  29%,
  30% {
    transform: translateX(-70%);
  }
  39%,
  40% {
    transform: translateX(-60%);
  }
  49%,
  50% {
    transform: translateX(-50%);
  }
  59%,
  60% {
    transform: translateX(-40%);
  }
  69%,
  70% {
    transform: translateX(-30%);
  }
  79%,
  80% {
    transform: translateX(-20%);
  }
  89%,
  90% {
    transform: translateX(-10%);
  }
  95% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.carousal_2 {
  position: relative;
  right: 65%;
  animation: slide2 20s infinite ease;
}

@keyframes slide2 {
  0% {
    transform: translateX(100%);
  }
  9%,
  10% {
    transform: translateX(90%);
  }
  19%,
  20% {
    transform: translateX(80%);
  }
  29%,
  30% {
    transform: translateX(70%);
  }
  39%,
  40% {
    transform: translateX(60%);
  }
  49%,
  50% {
    transform: translateX(50%);
  }
  59%,
  60% {
    transform: translateX(40%);
  }
  69%,
  70% {
    transform: translateX(30%);
  }
  79%,
  80% {
    transform: translateX(20%);
  }
  89%,
  90% {
    transform: translateX(10%);
  }
  95% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
