@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
section {
  block-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  font-family: "Poppins", sans-serif;
}
section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
